<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitHubUserListSample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1787D0EA22EFF64C00F2722C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1787D0FE22EFF64D00F2722C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1787D10922EFF64D00F2722C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
